body {
  min-width: 1200px;
}
body header {
  height: 300px;
}
body header .top-header {
  height: 220px;
  background-color: #fff;
}
body header .top-header .logo {
  margin-top: 30px;
  position: relative;
  display: block;
  width: 285px;
}
body header .top-header p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #7b7b7b;
  line-height: 25px;
}
body header .bottom-header {
  height: 80px;
  background: url(../img/IMG_0788.JPG);
  background-size: cover;
}
body header .bottom-header .top-menu {
  height: 60px;
  background-color: #79b458;
}
body header .bottom-header .top-menu .wrap ul li {
  float: left;
  font-family: "Roboto", sans-serif;
  line-height: 60px;
  overflow: visible;
  width: 100px;
  height: 60px;
  text-align: center;
}
body header .bottom-header .top-menu .wrap ul li:hover .wrap_child {
  left: 0px;
}
body header .bottom-header .top-menu .wrap ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin: 0px;
  padding: 0 15px;
  line-height: 60px;
  transition: 0.4s;
  transition-property: color;
}
body header .bottom-header .top-menu .wrap ul li a:hover {
  color: #1a1d25;
}
body header .bottom-header .top-menu .wrap ul li .active {
  color: #1a1d25;
}
body header .bottom-header .top-menu .wrap ul li .wrap_child {
  position: relative;
  float: left;
  top: 0px;
  background: #1a1d25;
  z-index: 50;
  left: -10000px;
  opacity: 0.8;
  box-sizing: border-box;
  padding: 10px 0px;
}
body header .bottom-header .top-menu .wrap ul li .wrap_child ul {
  position: relative;
  width: 300px;
}
body header .bottom-header .top-menu .wrap ul li .wrap_child ul li {
  float: top;
  width: 100%;
  margin: 0px;
  height: auto;
  text-align: left;
}
body header .bottom-header .top-menu .wrap ul li .wrap_child ul li a {
  width: auto;
  margin: 0px 5px;
  line-height: 30px;
  padding: 0 15px;
  transition: 0.4s;
  transition-property: background-color;
}
body header .bottom-header .top-menu .wrap ul li .wrap_child ul li a:hover {
  background-color: #79b458;
}
body #content {
  /*home block*/

}
body #content #left_menu {
  position: fixed;
  left: 0px;
  top: 300px;
  background: #1a1d25;
  opacity: 0.9;
  width: auto;
  max-width: 250px;
  padding: 25px 0;
  border-radius: 0 7px 7px 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  z-index: 100;
}
body #content #left_menu ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  margin: 0 15px;
  padding: 0 7px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
body #content #left_menu ul li a:hover {
  background: #79b458;
  color: #1a1d25;
}
body #content #news_block {
  height: auto;
}
body #content #news_block .new_block {
  border-bottom: 1px solid #d2d2d2;
  padding: 50px 0;
}
body #content #news_block .new_block img {
  max-width: 100%;
}
body #content #news_block .new_block a {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
  font-family: 'Exo 2', sans-serif;
  transition-property: color;
}
body #content #news_block .new_block a:hover {
  color: #79b458;
}
body #content #news_block .new_block .date {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #79b458;
  margin: 25px 0;
}
body #content #news_block .new_block p {
  font-family: "Roboto", sans-serif;
  color: #7b7b7b;
}
body #content #news_block .new_block .fool {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #79b458;
  margin: 15px 0;
  text-decoration: none;
}
body #content .pagination {
  height: 100px;
  line-height: 100px;
  margin-top: 15px;
}
body #content .pagination ul li {
  float: left;
  margin: 5px;
}
body #content .pagination ul li a {
  display: block;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  color: #1a1d25;
  border: 1px solid #1a1d25;
  font-family: "Roboto", sans-serif;
}
body #content .pagination ul li a:hover {
  background-color: #1a1d25;
  color: #fff;
}
body #content .pagination ul .active span {
  display: block;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  color: #999;
  border: 1px solid #999;
  font-family: "Roboto", sans-serif;
}
body #content .pagination ul .disabled span {
  display: block;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  color: #999;
  border: 1px solid #999;
  font-family: "Roboto", sans-serif;
}
body #content #home_news {
  height: auto;
  padding: 25px 0;
  /*background: #999;*/

}
body #content #home_news .link_category {
  position: relative;
  color: #000;
  transition: 0.4s;
  font-family: 'Exo 2', sans-serif;
  transition-property: color;
  display: block;
  margin: 15px 0;
}
body #content #home_news .link_category:hover {
  color: #79b458;
}
body #content #home_news .category_block .link_title {
  position: relative;
  text-decoration: none;
  color: #000;
  font-family: 'Exo 2', sans-serif;
  display: block;
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
}
body #content #home_news .category_block .link_title:hover {
  text-decoration: underline;
}
body #content #home_block {
  padding: 25px 0;
}
body #content #home_block .link_category {
  position: relative;
  color: #000;
  transition: 0.4s;
  font-family: 'Exo 2', sans-serif;
  transition-property: color;
  display: block;
  margin: 15px 0;
}
body #content #home_block .link_category:hover {
  color: #79b458;
}
body #content #home_block .ajax_block {
  height: auto;
}
body #content #home_block .ajax_block a {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: auto;
}
body #content #home_block .ajax_block a img {
  width: 100%;
}
body #content #home_block .ajax_block a .title {
  position: absolute;
  height: auto;
  background: #000;
  opacity: 0.3;
  color: #fff;
  line-height: 20px;
  bottom: 4px;
  left: 0px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
  transition-property: opacity;
}
body #content #home_block .ajax_block a:hover .title {
  opacity: 1;
}
body #content .new {
  height: auto;
  padding: 25px 0;
  font-family: "Roboto", sans-serif;
}
body #content .new .title {
  margin: 15px 0;
  font-family: 'Exo 2', sans-serif;
}
body #content .new .date {
  color: #79b458;
  font-size: 14px;
}
body #content .new .top_img img {
  width: 100%;
  height: auto;
}
body #content .new .text_article p {
  margin: 15px 0;
}
body #content .new .block_img img {
  width: 50%;
  float: left;
}
body #content .otherNews {
  height: auto;
  padding: 25px 0;
  font-family: "Roboto", sans-serif;
}
body #content .otherNews .title {
  margin: 15px 0;
  font-family: 'Exo 2', sans-serif;
}
body #content .otherNews .otherNew {
  box-sizing: border-box;
  padding: 5px;
}
body #content .otherNews .otherNew a {
  text-decoration: none;
  color: #000;
}
body #content .otherNews .otherNew a:hover .title {
  text-decoration: underline;
}
body #content .otherNews .otherNew a img {
  width: 100%;
}
body #content #page_block h3 {
  position: relative;
  color: #000;
  font-family: 'Exo 2', sans-serif;
  transition-property: color;
  display: block;
  margin: 15px 0;
}
body #content #page_block img {
  width: 200px;
  height: auto;
}
body #content #page_block p {
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
}
body #footer {
  height: 350px;
  background: #1a1d25;
}
body #footer .wrap {
  height: 350px;
}
body #footer .wrap .left-block {
  height: 100%;
  box-sizing: border-box;
  padding: 70px 0;
}
body #footer .wrap .left-block h3 {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  line-height: 40px;
  margin-bottom: 15px;
}
body #footer .wrap .left-block ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
}
body #footer .wrap .right-block {
  height: 350px;
  box-sizing: border-box;
  padding: 70px 0;
}
body #footer .wrap .right-block h3 {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  line-height: 40px;
  margin-bottom: 15px;
}
body #footer .wrap .right-block p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
}
